<!DOCTYPE html>
<html>

<head>

<title>Contact</title>

<style>

body{

font-family:Poppins;

background:#eef5fb;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.box{

background:white;

padding:40px;

border-radius:20px;

width:500px;

text-align:center;

box-shadow:0 10px 25px rgba(0,0,0,.15);

}

h1{

color:#1565C0;

}

</style>

</head>

<body>

        <div class="box">

                <h1>Contact Us</h1>

                <p>Email : support@mediguardian.ai</p>

                <p>Phone : +91 8466874846</p>

                <p>Hyderabad, Telangana</p>

        </div>

</body>

</html>